:root {
    --color-darkest: #251B37;
    --color-lightest: #FFECEF;
    --color-lessdark: #694990;
    --color-lesslight: #FFCACA;
}

.main-index {
    display: block;
    height: 90vh;
}

.main-outer-container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: var(--color-lessdark);
    align-items: center;
    justify-content: center;
}

.main-inner-container {
    display: flex;
    height: 80%;
    width: 70%;
    background-color: var(--color-darkest);
    gap: 5%;
    color: var(--color-lightest);
}

.main-intro {
    display: block;
    height: 100%;
    padding: 7%;
    text-align: justify;
}

.main-login {
    display: block;
    height: 100%;
    padding: 7%;
    font-size: 0.8em;
}

.main-login input[type=email], input[type=password] {
    border: none;
    background: none;
    border-bottom: solid 2px white;
    margin: 10% 0 20% 0;
    color: var(--color-lightest);
}

.main-login input[type=button] {
    padding: 14px;
    border-radius: 40px;
    width: 100%;
    line-height: 0px;
}

.main-login p {
    text-align: center;
}