:root {
    --color-darkest: #251B37;
    --color-lightest: #FFECEF;
    --color-lessdark: #694990;
    --color-lesslight: #FFCACA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: var(--color-lessdark);
}

a {
    color: inherit;
}

.whole-page {
    display: block;
    height: 100vh;
    background-image: url("../images/backdrop.jpg");
    background-size: contain;
}

.make-height-90v {
    height: 90vh;
}

.content-align {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    height: 80%;
    width: 70%;
    background-color: var(--color-darkest);
    gap: 3%;
    color: var(--color-lightest);
    justify-content: center;
    align-items: center;
}

.intro-text {
    display: flex;
    width: 50%;
    height: 100%;
    padding: 7%;
    text-align: justify;
    overflow: scroll;
    overflow-x: hidden;
    flex-direction: column;
    gap: 9%;
}

*::-webkit-scrollbar {
    width: 0.5em;
    background: var(--color-darkest);
}

*::-webkit-scrollbar-thumb {
    background: var(--color-lesslight);
}

.form {
    display: block;
    height: 100%;
    width: 50%;
    padding: 10%;
    font-size: 0.8em;
}

.form p {
    text-align: center;
    padding-top: 10px;
}

input {
    border: none;
    background: none;
    border-bottom: solid 1px white;
    margin: 10% 0 10% 0;
    color: var(--color-lightest);
    width: 100%;
}

input[type=submit] {
    padding: 14px;
    border-radius: 40px;
    border: none;
    background-color: var(--color-lightest);
    color: var(--color-darkest);
    width: 100%;
    line-height: 0px;
}

.nav-whole {
    display: block;
    top: 0;
    height: 10vh;
    background-color: var(--color-darkest);
}

.nav-align {
    display: flex;
    margin: 0 10%;
    height: 100%;
    width: 80%;
    align-items: center;
}

.nav-options {
    display: flex;
    width: 30%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-options a {
    color: var(--color-lightest);
}

.home-previous-matches {
    display: flex;
    width: 50%;
    height: 100%;
    padding: 7%;
    text-align: justify;
    overflow: scroll;
    overflow-x: hidden;
    flex-direction: column;
    gap: 9%;
}

.home-play-container {
    display: block;
    height: 100%;
    width: 50%;
    padding: 4% 1%;
}

.home-play-align {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 30px;
}

.home-play-continue {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    overflow: scroll;
    overflow-x: hidden;
    gap: 9%;
}

.home-play-new {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    overflow: scroll;
    overflow-x: hidden;
}