.nav-top {
    display: block;
    top: 0;
    height: 10vh;
    background-color: var(--color-darkest);
}

.nav-container {
    display: flex;
    margin: 0 10%;
    height: 100%;
    width: 80%;
    align-items: center;
}

.nav-options {
    display: flex;
    width: 30%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-options a {
    color: var(--color-lightest);
}