:root {
    --color-darkest: #251B37;
    --color-lightest: #FFECEF;
    --color-lessdark: #694990;
    --color-lesslight: #FFCACA;
}

.main-signin {
    display: flex;
    height: 80%;
    width: 35%;
}

.main-signin input[type=submit] {
    padding: 14px;
    border-radius: 40px;
    width: 100%;
    line-height: 0px;
    border: none;
}

.main-signin input[type=text],
.main-signin input[type=password],
.main-signin input[type=email] {
    border: none;
    background: none;
    border-bottom: solid 1px white;
    margin: 5% 0 10% 0;
    color: var(--color-lightest);
    width: 100%;

    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.main-form-outer {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .main-signin {
        width: 95%;
        align-items: center;
    }
}